:root {
    --primaryColor: #c11b1b;
    --yellowColor: #ffbd5c;
    --fontColor : #111;
    --spanColor : #c0c0c0;
    --greyColor : #f5f5f5;
    --whiteColor : #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    font-size: 14px;
}

h1 {
    line-height: 2;
    font-size: 2em;
    margin-bottom: 1rem;
    font-family: 'Abril Fatface', cursive;
}

h2 {
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    width: 100%;
    height: 60px;
    background: var(--whiteColor);
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    font-family: 'Abril Fatface', cursive;
    color: var(--fontColor);
}

.menu-list > a {
    text-decoration: none;
    color: var(--fontColor);
    padding: 0.5rem;
}

.menu-list > a:hover {
    color: var(--primaryColor);
}

.menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}

.btn-menu {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0.5rem;
    color: var(--fontColor);
}

.btn-menu:hover {
    color: var(--fontColor);
    background: var(--spanColor);
}

header {
    width: 100%;
    height: 80vh;
    margin-top: 60px;
}

.swiper-container {
    width:100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-desc {
    position: absolute;
    top: 35%;
    left: 12%;
    width: 30%;
    text-align: left;
}

.swiper-desc h1, .swiper-desc p {
    line-height: 1.5;
}

.swiper-btn {
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    background: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    color: var(--whiteColor);
    cursor: pointer;
}

.swiper-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.desc2 {
    color:var(--fontColor);
}

.guarantee {
    width: 100%;
    background: var(--greyColor);
    padding: 4% 5% 4% 5%;
}

.guarantee-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.guarantee-card {
    display: flex;
    gap: 1rem;
}

.guarantee-icon {
    font-size: 40px;
    color: var(--spanColor);
}

.guarantee-text h3 {
    margin-bottom: 1rem;
}

.guarantee-text p {
    line-height: 1.5;
}

.collection h1 {
    text-align: center;
    font-size: 50px;
}

.collection {
    width: 100%;
    padding: 4% 2% 2% 2%;
    scroll-margin-top: 3rem;
}

.collection-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 1rem;
    width:100%;
}

.collection-left {
    width: 100%;
}

.collection-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.collection-card {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.collection-card2 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    grid-area: 1 / 1 / 2 / 2;
}
.collection-card3 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    grid-area: 1 / 2 / 2 / 3;
}
.collection-card4 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    grid-area: 2 / 1 / 3 / 2;
}
.collection-card5 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    grid-area: 2 / 2 / 3 / 3;
}

.collection-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.collection-card2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.collection-card3 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.collection-card4 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.collection-card5 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.collection-detail {
    position: absolute;
    left: 20;
    bottom: 50;
    line-height: 1;
    color: var(--whiteColor);
    transition: all 0.4s ease-in-out 0s;
}

.collection-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.collection-card2:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.collection-card3:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.collection-card4:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.collection-card5:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.collection-card:hover .collection-detail {
    bottom: 80;
}
.collection-card2:hover .collection-detail {
    bottom: 80;
}
.collection-card3:hover .collection-detail {
    bottom: 80;
}
.collection-card4:hover .collection-detail {
    bottom: 80;
}
.collection-card5:hover .collection-detail {
    bottom: 80;
}

.collection-detail > span {
    color: var(--whiteColor);
}

.product h1 {
    font-size: 50px;
}

.product {
    width: 100%;
    height: auto;
    padding: 5%;
    text-align: center;
    scroll-margin-top: 3rem;
}

.product-filter {
    border: none;
    padding: 0.3rem 1rem;
    margin: 0.3rem;
    cursor: pointer;
}

.product-filter:active,
.product-filter.is-checked {
    background: var(--primaryColor);
    color: var(--whiteColor);
}

.product-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    position: relative;
    text-align: left;
    height: 350px;
    width: 24%;
    min-width: 250px;
    margin: 0.5rem;
    cursor: pointer;
}

.product-image {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease-in-out 0s;
}

.product-label {
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--whiteColor);
    padding: 5px 10px;
    font-size: 10px;
}

.label-red {
    background: var(--primaryColor);
}

.label-yellow {
    background: var(--yellowColor);
}

.label-blue {
    background: skyblue;
}

.product-detail {
    padding: 1rem;
    width: 100%;
    position: absolute;
}

.product-detail > span {
    color: var(--spanColor);
}

.fa-heart {
    float: right;
}

.fa-heart:hover {
    color: var(--primaryColor);
}

.product-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 30px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.35s ease;
    background: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    cursor: pointer;
}

.product-card:hover .product-button {
    opacity: 1;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, 
    rgba(0,0,0, 0.06) 0px 0px 0px 1px;
}

.product-card:hover .product-detail{
    bottom:40;
}

.product-card:hover .product-image {
    height: 240px;
    filter: brightness(80%);
}

.product-button:hover{
    background: var(--primaryColor);
    color: var(--whiteColor);
}

.offers {
    width: 100%;
    height: 620px;
    background-image: url("images/portada5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top:3rem;
}

.offers-wrapper {
    font-size: 1.5rem;
    color: var(--whiteColor);
    
}

.offers-button {
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border: 2px solid var(--primaryColor);
    background: transparent;
    cursor: pointer;
    color: var(--whiteColor);
}

.offers-button:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

#somos .container{
    text-align: center;
    padding: 50px 12px ;
}
#somos .container h2 {
    font-family: 'Abril Fatface', cursive;
	font-size: 50px;
}
.color-acento {color: var(--primaryColor);}

@media (min-width:680px){
	#somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos h2{
        font-family: 'Abril Fatface', cursive;
        margin-top: 0;
    }

    #somos .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.123),
            rgba(0, 0, 0, 0.123)
        ), url("images/thor.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 470px;
        border-radius: 30px;

    }
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5% 3% 5%;
}

.newsletter-form {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 35px;
    margin: 1rem 0 ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.newsletter-form > input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--spanColor);
    padding: 1rem;
}

.newsletter-form >input::placeholder {
    color: var(--fontColor);
}

.newsletter-form > button {
    width: 200px;
    border: none;
    background: var(--primaryColor);
    color: var(--whiteColor);
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    padding: 3rem 1rem;
    margin-top: 3rem;
    background-color: var(--fontColor);
    color: var(--whiteColor);
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start
}

.footer-card {
    padding: 2%;
    display: grid;
}

.footer-card > h3, 
.footer-card > h4 {
    line-height: 3;
}

.footer-card > h3 {
    font-family: 'Abril Fatface', cursive;
}

.footer-card > p {
    max-width: 400px;
    line-height: 2;
}

.footer-card > a {
    text-decoration: none;
    padding-bottom: 1rem;
    color: var(--spanColor);
}

.download-apps {
    padding-top: 1rem;
}

.download-apps > img {
    width: 120px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

.social-media {
    font-size: 18px;
    width: 30px;
}

.divider {
    border: none;
    background: var(--whiteColor);
    height: 1px;
    margin: 10px 0;
}

.copyright {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 12px;
}

.cart-content {
    display: none;
    position: absolute;
    width: 280px;
    background: var(--whiteColor);
    border-radius: 4px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-content > a {
    color: var(--fontColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.cart-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cart-image {
    height: 50px;
    width: 50px;
}

.cart-content a:hover {
    background: var(--spanColor);
}

.cart:hover .cart-content{
    display: block;
}

.menu-toggle {
    display: none;
}
.menu-toggle .bar {
    width: 15px;
    height: 2px;
    margin: 3px auto;
    background: var(--fontColor);
    cursor: pointer;
}

/* ========mobile display =======*/
@media screen and (max-width: 680px) {
    .menu-toggle,
    .bar {
        display: block;
        z-index: 3;
    }

    .menu-toggle.is-active .bar:nth-child(2){
        opacity: 0;
    }

    .menu-toggle.is-active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .menu-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }

    .menu-list {
        flex-direction: column;
        position: absolute;
        top: 60;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        text-decoration: center;
        background: var(--fontColor);
        display: none;
    }

    .menu-list.active {
        display: flex;
    }

    .menu-list > a {
        color: var(--whiteColor);
        padding: 1.5rem;
    }

    .swiper-desc {
        width: 50%;
        top: 15%;
        background-color: #f5f5f5;
        border-radius: 15px;
    }
    
    .swiper-desc h1 {
        line-height: 1.5;
        font-size: 28px;
        margin: 10px;
    }

    .swiper-desc p {
        font-size: 12px;
        margin: 10px;
    }

    .swiper-btn {
        margin: 10px;
    }

    .product-card {
        width: 100%;
    }
}