
footer {
    width: 100%;
    height: auto;
    padding: 3rem 1rem;
    margin-top: 3rem;
    background-color: var(--fontColor);
    color: var(--whiteColor);
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start
}

.footer-card {
    padding: 2%;
    display: grid;
}

.footer-card > h3, 
.footer-card > h4 {
    line-height: 3;
}

.footer-card > h3 {
    font-family: 'Abril Fatface', cursive;
}

.footer-card > p {
    max-width: 400px;
    line-height: 2;
}

.footer-card > a {
    text-decoration: none;
    padding-bottom: 1rem;
    color: var(--spanColor);
}

.download-apps {
    padding-top: 1rem;
}

.download-apps > img {
    width: 120px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

.social-media {
    font-size: 18px;
    width: 30px;
}

.divider {
    border: none;
    background: var(--whiteColor);
    height: 1px;
    margin: 10px 0;
}

.copyright {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 12px;
}

.cart-content {
    display: none;
    position: absolute;
    width: 280px;
    background: var(--whiteColor);
    border-radius: 4px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-content > a {
    color: var(--fontColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.cart-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cart-image {
    height: 50px;
    width: 50px;
}

.cart-content a:hover {
    background: var(--spanColor);
}

.cart:hover .cart-content{
    display: block;
}

.menu-toggle {
    display: none;
}
.menu-toggle .bar {
    width: 15px;
    height: 2px;
    margin: 3px auto;
    background: var(--fontColor);
    cursor: pointer;
}