
#somos .container{
    text-align: center;
    padding: 50px 12px ;
}
#somos .container h2 {
    font-family: 'Abril Fatface', cursive;
	font-size: 50px;
}
.color-acento {color: var(--primaryColor);}