/* ========Mobile Display =======*/
@media screen and (max-width: 680px) {

    .menu-toggle,
    .bar {
        display: block;
        z-index: 3;
    }

    .menu-toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.is-active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .menu-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
    }

    .menu-list {
        flex-direction: column;
        position: absolute;
        top: 60;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        text-decoration: center;
        background: var(--fontColor);
        display: none;
    }

    .menu-list.active {
        display: flex;
    }

    .menu-list>a {
        color: var(--whiteColor);
        padding: 1.5rem;
    }

    .swiper-desc {
        width: 50%;
        top: 15%;
        background-color: #f5f5f5ab;
        border-radius: 15px;
    }

    .swiper-desc h1 {
        line-height: 1.5;
        font-size: 24px;
        margin: 10px;
    }

    .swiper-desc p {
        font-size: 12px;
        margin: 10px;
    }

    .swiper-btn {
        margin: 10px;
    }

    .product-card {
        width: 90%;
    }
}

/* ========Mobile Display =======*/
@media (min-width:680px){
	#somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos h2{
        font-family: 'Abril Fatface', cursive;
        margin-top: 0;
    }

    #somos .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.123),
            rgba(0, 0, 0, 0.123)
        ), url("/images/thor.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 470px;
        border-radius: 30px;

    }
}